/* You can add global styles to this file, and also import other style files */
:root {
    --white: #fff;
    --blue: #4763ef;
    --green: #4cffec;
    --blue-dark: #1e2345;
    --ocean: #09d3ef;
    --font: "Roboto Mono", sans-serif;
  }
  
 
  body {

    background-color: var(--blue);
  
  }
  